.App {
  text-align: center;
}

.user-name {
font-family: 'Courier New', Courier, monospace;
font-weight: normal;
}

.user-profile-pic{
  height: 240px;
  /*width: 240px;*/
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.user-first-name{
  font-weight: bold;
  font-style: italic;
  color: gold;
}